# Jira basic auth
JIRA_SERVER="https://cerm.atlassian.net"
JIRA_EMAIL=""
JIRA_API_TOKEN=""

# User agent header in Jira API request
JIRA_USER_AGENT="Cerm7-AI-project"

# Logger
LOG_NAME="Cerm7-AI-project"
# Optional logger variables
# LOG_LEVEL=""
# LOG_FORMAT=""
# LOG_DATEFMT=""